:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 50px;
}

body {
  margin: 0;
}

h1 {
  font-size: 35px;
  line-height: 1.1;
}

nav {
  display: flex;
  align-items: center;
}

.menu-fixo {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #101820;
  justify-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-fixo nav a {
  color: white;
  text-decoration: none;
  padding: 5px 30px 5px 30px;
  font-size: 186x;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.footer {
  background-color: #e0ceaa;
  color: #101820;
  padding: 2rem;
  text-align: center;
  font-size: 0.875rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p,
.footer h2 {
  text-align: left;
}

.footer h2 {
  line-height: 0;
  margin-bottom: 20px;
}

.footer .h2-espacotop {
  margin-top: 50px;
}

.footer .espacolateral {
  margin-left: 50px;
}

.footer .flexBoxGeral {
  justify-content: flex-start;
}

.footer .box {
  background: #9d4815;
  border-radius: 15px;
  padding: 0.6rem;
  position: relative;
  transition: 0.3s;
}

.footer .box:hover {
  transform: scale(1.1);
}

.footer .lateral-linha {
  display: flex;
  gap: 10%;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 2%;
}

.flex2 a {
  color: #101820;
  text-decoration: none;
}

.hero-section {
  height: 710px;
  position: relative;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: zoomEffect 5s ease-in-out infinite;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.divTexto {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
}

.sectionInfo {
  display: flex;
  justify-content: space-between;
}

.sectionInfo2 {
  display: flex;
  margin: 1rem 0rem 1rem 0rem;
  justify-content: center;
  width: 100%;
  gap: 3%;
}

.sectionInfo2 h2 {
  font-size: 32px;
}

.fotoFrente {
  width: 160px;
  height: 160px;
  border-radius: 1rem;
  box-shadow: 20px 20px 20px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 0;
}

.fotoAtras {
  width: 150px;
  height: 150px;
  top: 60px;
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 20px 20px 20px 4px rgba(0, 0, 0, 0.3);
}

.text-sectionInfo {
  max-width: 35%;
  margin-right: 15%;
}

.line1 {
  height: 100%;
  align-content: center;
}

@media screen and (max-width: 1400px) {
  .text-sectionInfo {
    margin-right: 5%;
    max-width: 50%;
  }
}

.servicos h2 {
  text-align: center;
  font-size: 32px;
}

.flexBoxGeral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  max-width: 1200px;
  margin: auto;
}

:root {
  --grid-3: 31.3333333333%;
  --grid-2: 48.5%;
}

@media screen and (max-width: 1100px) {
  :root {
    --grid-3: 48.5%;
    --grid-2: 48.5%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --grid-3: 100%;
    --grid-2: 100%;
  }
}

.grid-2 {
  width: var(--grid-2);
}

.servicos .grid-3 {
  width: var(--grid-3);
  justify-items: center;
  overflow: hidden;
  position: relative;
  max-width: 290px;
  max-height: 350px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.servicos .grid-3 picture img {
  transition: transform 0.5s ease;
  display: block;
  max-width: 100%;
  height: auto;
}

.servicos .grid-3:hover picture img {
  transform: scale(1.2);
}

.servicos .grid-3 p {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.cardapio .grid-3 {
  border: 5px solid #fff;
  justify-items: center;
  align-content: center;
  padding: 25px;
  min-width: 215px;
  min-height: 280px;
}

.cardapio h3 {
  font-size: 22px;
  text-align: center;
}

.cardapio h2 {
  font-size: 32px;
  text-align: center;
  line-height: 0;
}

.cardapio .p-texto {
  margin-bottom: 50px;
}

.cardapio p {
  font-size: 18px;
  text-align: center;
  line-height: 1;
}

.tipo1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #5a5040, #5a50407d, transparent);
  pointer-events: none;
}

.tipo2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #101820, #10182082, transparent);
  pointer-events: none;
}

.btn1 {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  padding: 0.5rem 2.5rem;
  font-weight: 700;
  width: fit-content;
  transition: 0.3s;
}

.btn1:hover {
  background-color: #fff;
  color: #5d4a38;
}

.cardapio .flexBoxGeral {
  margin-bottom: 70px;
}

.cardapio .pt2 p {
  text-align: justify;
  line-height: 1.5;
}

.cardapio .pt2 h3 {
  text-align: left;
  font-size: 32px;
  line-height: 0;
}

.cardapio .fundo-lateral {
  display: flex;
}

.cardapio .text-lateral {
  height: fit-content;
  width: 70px;
  line-height: 0 !important;
  font-style: italic;
  font-weight: 300;
  font-size: 42px;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 5px -10px 6px rgba(16, 24, 32, 0.7);
  transform: rotate(-90deg);
  align-self: end;
}

.cardapio .pt1 .grid-3 {
  transition: 0.3s;
}

.cardapio .pt1 .grid-3:hover {
  background: #fff;
  color: #5d4a38;
}

.cardapio .pt1 .grid-3:hover {
  color: #5d4a38;
}

.empresas h3 {
  font-size: 60px;
  text-align: center;
  line-height: 0;
  color: #e0ceaa;
}

.empresas h2 {
  font-size: 32px;
  text-align: center;
  line-height: 1;
  color: #e0ceaa;
}

.empresas .flexBoxGeral {
  margin-bottom: 50px;
}

.empresas .grid-3 p {
  line-height: 0;
  text-align: center;
}

.empresas p {
  font-size: 14px;
  text-align: left;
  line-height: 2;
  color: #e0ceaa;
}

.empresas .grid-3 {
  justify-items: center;
  align-content: center;
  padding: 30px;
}

.empresas svg {
  margin-top: 25px;
}

.empresas {
  background: url("/images/tela4.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.btn-carousel-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-carousel-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.carousel1 .prev,
.carousel1 .next {
  color: #e0ceaa;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.3s;
}

.carousel1 .prev:hover,
.carousel1 .next:hover {
  color: #fff;
}

.carousel1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 10rem;
}

.carousel-window {
  overflow: hidden;
}

.fotos h2 {
  font-size: 32px;
  text-align: center;
  color: #101820;
  line-height: 0;
}

.fotos p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1;
  color: #101820;
}

.fundoFotos {
  max-width: 1100px;
  margin: auto;
  padding: 0rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #4e4a40;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.4rem;
  padding: 1.4rem 1.4rem 0rem 0rem;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.4rem;
  padding: 1.4rem 0rem 4rem 0rem;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.4rem;
  padding: 1rem 0rem 1rem 1.4rem;
}

.grid1 img,
.grid2 img,
.grid3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

@media (max-width: 768px) {
  .fundoFotos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .fundoFotos {
    grid-template-columns: 1fr;
  }
}

.contato input,
.contato textarea {
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.contato textarea {
  min-height: 170px;
}

.contato input:focus,
.contato textarea:focus {
  outline: none;
}

.contato form{
  max-width: 1100px;
  margin: 0 auto;
}

.contato h2 {
  font-size: 32px;
  text-align: center;
  color: #e0ceaa;
  line-height: 0;
}

.contato p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1;
  color: #e0ceaa;
}

.boxInformacoes,
.boxTelefone,
.boxEmail,
.boxName {
  border: 1px solid #e0ceaa;
  margin-bottom: 15px;
}

.boxInformacoes p,
.boxTelefone p,
.boxEmail p,
.boxName p {
  text-align: left;
  margin-left: 2%;
  color: #e0ceaa59;
}

.boxInformacoes {
  min-height: 200px;
}

.btn-contato {
  background-color: #e0ceaa;
  border: 1px solid #e0ceaa;
  border-radius: 0;
  padding: 0;
  width: 100%;
  transition: 0.3s;
  margin-bottom: 90px;
}

.btn-contato a {
  text-decoration: none;
}

.btn-contato p {
  color: #101820;
  padding: 1rem;
  line-height: 0;
  margin-bottom: 15px;
}

.btn-contato:hover {
  background-color: transparent;
}

.btn-contato:hover p {
  color: #e0ceaa;
}
